<div class="jumbotron">
  <h1>Learn</h1>
  <div class="row">
    <div class="col-md-6">
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/79771046' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin vulputate leo nec scelerisque. Phasellus male
      suada, nunc eu condimentum laoreet, lacus purus suscipit lacus, ut rhoncus sem lectuse eget dui.</p>
      <p><a class="btn btn-primary btn-lg" role="button">Pledge</a></p>
    </div>
  </div>
</div>