<h1>Our Charities</h1>
<div id="charities">
  <div class="tile width2"></div>
  <div class="tile height2"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile width2 height2"></div>
  <div class="tile width2"></div>
  <div class="tile width2"></div>
  <div class="tile height2"></div>
  <div class="tile"></div>
  <div class="tile width2"></div>
  <div class="tile height2"></div>
  <div class="tile"></div>
  <div class="tile"></div>
</div>
